<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="de.bayen.freibier.model.ProductValidator"
         name="de.bayen.freibier.model.ProductValidator"
         point="org.adempiere.base.ModelValidator">
      <listener
            class="de.bayen.freibier.model.ProductValidator"
            priority="100">
      </listener>
   </extension>

</plugin>
